html,
body,
div {
  font-family: 'Roboto', sans-serif;
}

body {
  overflow-x: hidden;
}

body a {
  text-decoration: none;
}

/*add custom  font*/
@font-face {
  font-family: 'GAMECUBEN';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/web/gamecube-webfont.woff') format('woff');
}

.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px 50px;
  flex-wrap: wrap;
  justify-content: space-around !important;
}

.card-container {
  cursor: pointer;
  max-width: 350px;
  background: #ebedee;
  padding: 20px 40px;
  margin: 0 20px 50px 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.card-container .paragraph {
  min-height: 100px;
}

.card-description {
  min-width: 280px;
}

.card-image-icon {
  font-size: 4.8rem;
  color: #fff;
  margin-top: 12px;
}

.card-image-wrapper {
  width: 160px;
  height: 160px;
  text-align: center;
  background: #324856;
  padding: 20px;
  border-radius: 50%;
}

.carousel-card-container {
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  margin-right: 10px;
  margin-left: 10px;
}

.carousel-card-img {
  width: 100%;
  object-fit: cover;
  height: 200px;
}

.carousel-card-info {
  height: 120px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.carousel-container {
  padding-top: 130px;
  padding-bottom: 140px;
  padding-left: 100px;
}

@media (max-width: 975px) {
  .carousel-container {
    padding-left: 50px;
  }
}

@media (max-width: 480px) {
  .carousel-container {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
  }
}

.carousel-info {
  height: 100%;
  width: 300px;
  padding: 10px 10px 10px 20px;
  justify-content: center;
  align-items: center;
}

.carousel-cards {
  background: none;
  align-items: center;
  margin-left: 50px;
}

.carousel-slider {
  max-width: 1000px;
}

.carousel-slider .slick-next {
  right: 2px;
}

.sub-header {
  color: #324856;
  font-family: 'Roboto', sans-serif;
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 0.38px;
  line-height: 31px;
  text-align: center;
}

.section-header {
  color: #324856;
  font-family: 'Roboto', sans-serif;
  font-size: 46px;
  font-weight: bold;
  letter-spacing: 0.66px;
  line-height: 55px;
  text-align: center;
}

.paragraph {
  color: #324856;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  letter-spacing: 0.19px;
  line-height: 30px;
}

.section-text {
  color: #324856;
  font-family: 'SF Pro Display';
  font-size: 16px;
  letter-spacing: 0.13px;
  line-height: 19px;
  text-align: center;
}

.section-text a {
  color: #324856;
}

.section-text a:hover {
  color: #324856;
}

.text-white {
  color: white;
}

/*utilities*/
.display-inline-block {
  display: inline-block;
}

.padding-remove {
  padding: 0 !important;
}

.margin-remove {
  margin: 0 !important;
}

.margin-bottom-remove {
  margin-bottom: 0 !important;
}

.text-align-left {
  text-align: left;
}

.padding-medium {
  padding: 20px !important;
}

.padding-top-large {
  padding-top: 50px;
}

.padding-bottom-large {
  padding-bottom: 50px;
}

.padding-left {
  padding-left: 20px !important;
}

.padding-horizontal {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.facebook-custom-icon {
  padding-left: 9px !important;
  padding-right: 9px !important;
}

.text-uppercase {
  text-transform: uppercase;
}

.margin-top-large {
  margin-top: 50px;
}

.margin-bottom-large {
  margin-bottom: 50px;
}

.margin-bottom-medium {
  margin-bottom: 20px;
}

.margin-left-medium {
  margin-left: 20px;
}

.margin-right-medium {
  margin-right: 20px;
}

.margin-right-large {
  margin-right: 50px;
}

.margin-right-small {
  margin-right: 5px;
}

.margin-top-medium {
  margin-top: 20px;
}

.width-1-1 {
  width: 100%;
}

.width-1-2 {
  width: 50%;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.align-center {
  margin-left: auto;
  margin-right: auto;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-row-space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-row-start {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.flex-col-space-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-1 {
  flex: 1;
}

/*buttons*/
.btn {
  height: 60px;
  width: 240px;
  border-radius: 5px;
  color: #ffffff;
  display: inherit;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  letter-spacing: 0.38px;
  line-height: 3.8;
  text-align: center;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.btn.btn-link {
  text-decoration: none;
}

.btn.btn-primary {
  color: #fff;
  background-color: #d66c44;
}

.btn.btn-secondary {
  color: #fff;
  background-color: #324856;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.input {
  height: 60px;
  padding: 0 20px;
  border: 1px solid #979797;
  border-radius: 5px;
  background-color: #ffffff;
}

.footer-email-input {
  height: 59px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  width: 280px;
  border-right-width: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.footer-subscribe-btn {
  width: 200px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  display: inline-block;
}

@media (max-width: 1330px) {
  .footer-email-input {
    display: block;
    width: 80%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .footer-subscribe-btn {
    margin-top: 20px;
    display: block;
    width: 86%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
}

.footer-link {
  text-decoration: none;
}

.footer-social-links {
  display: flex;
  justify-content: space-between;
  width: 75% !important;
  padding-top: 20px;
}

.footer-link:hover {
  text-decoration: underline;
}

.team-section {
  background-size: cover;
  background-position: center;
  background-color: #324856;
}

.user-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-left: 50px;
  justify-content: center;
}

.user-card-container {
  background: #fff;
  width: 380px;
}

.twitter-card-container {
  border-radius: 5px;
  border: 1px solid #324856;
  width: 100%;
  max-width: 300px;
  margin: 15px;
}

.twitter-wrapper {
  max-width: 1300px;
  display: flex;
  flex-wrap: wrap;
  padding: 5px 50px;
  justify-content: space-around;
  margin-right: inherit;
}

@media (max-width: 920px) {
  .user-card-wrapper {
    max-width: 830px;
    padding-left: 0;
  }

  .user-card-container {
    width: 100%;
    max-width: 280px;
    margin-right: 20px;
  }

  /*twitter gutter*/
  .j-stack.galcolumn {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}

@media (max-width: 480px) {
  .section-header {
    padding-left: 10px !important;
    padding-right: 10px !important;
    /*text-align: left !important;*/
  }

  .twitter-wrapper {
    padding: 10px;
  }
}

@media (max-width: 850px) {
  /*.user-card-container {*/
  /*width: 300px;*/
  /*}*/
}

.twitter-wrapper {
  margin-left: 0 !important;
}

.user-description {
  margin: 10px 0;
  height: calc(100% - 20px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 840px) {
  .calendar-social-links {
    text-align: left;
    display: flex;
    padding-top: 20px;
    justify-content: space-between;
  }

  .values-wrapper {
    flex-direction: column;
  }

  .card-container {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
  }

  .footer-email-input {
    width: calc(100% - 40px);
  }

  .footer-subscribe-btn {
    padding: 0 20px;
    width: calc(100% - 40px);
  }

  .section-header {
    padding-left: 20px;
    padding-right: 20px;
  }

  .footer-social-links {
    padding-bottom: 20px;
  }

  .footer-social-links a {
    /*margin-top: 20px;*/
    margin-right: 20px;
  }

  .footer-logo {
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }
}

@media (max-width: 480px) {
  .footer-links-wrapper {
    margin-left: initial !important;
  }

  .footer-email-input {
    width: 100%;
  }

  .footer-subscribe-btn {
    width: 100%;
  }

  .footer-logo {
    margin-bottom: 20px;
  }

  .user-card-container {
    width: 100%;
    max-width: 330px;
    margin-right: inherit;
    margin-left: auto;
  }

  .user-card-wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.twitter-wrapper {
  margin-left: 30px;
}

.values-wrapper {
  flex-wrap: wrap;
  justify-content: space-around;
}

.no-text-shadow {
  box-shadow: none !important;
}

.title {
}

/*twitter section*/
.feed-item.juicer.image-post.juicer-ad {
  display: none;
}
.juicer-feed h1.referral {
  display: none !important;
}

.feed-item {
  height: 270px;
  overflow-y: scroll !important;
}

/* end of twitter section */

/* markdown style */
.text {
  line-height: 25px;
}

.text h3,
h2 {
  line-height: 30px;
}

/* markdown-paragraph-margin-top-bottom */
.m-p-m-t-b {
  margin: 20px 0;
}

/* markdown-paragraph-margin-bottom  */
.m-p-m-b {
  margin: 0 0 20px;
}

.markdown-bold {
  font-weight: bold;
}

.markdown-list {
  list-style: disc;
  margin-left: 30px;
  font-size: 18px;
  margin-bottom: 30px;
}

.markdown-button {
  width: 200px;
  height: 50px;
  background-color: #d66c44;
}

.markdown-button a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

@media (max-width: 480px) {
  .m-p-m-t-b {
    margin: 10px 0;
  }
  .m-p-m-b {
    margin: 0 0 10px;
  }
  .markdown-list {
    list-style: disc;
    margin-left: 15px;
    font-size: 16px;
    margin-bottom: 15px;
  }
}

main {
  margin-top: 0 !important;
}

/* overwrite rmwc Select from navigation */

.mdc-toolbar .mdc-select__native-control {
  width: 150px;
  padding: 10px 10px 10px 20px;
}

/* select from drawer ( responsive content) */
.mdc-drawer .mdc-select__native-control {
  width: 150px;
  padding: 10px 10px 10px 20px;
}
